.ItemDiv{
    box-shadow: 2px 2px 2px 2px rgb(18, 23, 26);
    -webkit-border-radius: 10px 10px;
    padding: 5px;
    width: 30%;
    margin: 15px auto;
}

.ItemDiv:hover{
    box-shadow: 1px 1px 1px 1px rgb(18, 23, 26);
}